{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="container">
        <div class="background">
            <img src="{% static 'images/image2.jpg' %}" class="butterfly" alt="Butterfly">
            <img src="{% static 'images/image3.svg' %}" class="left-image" alt="Art Has No Rules">
        </div>
        <div class="header-text">Son Paylaşımlar =</div>
        {% if posts %}
        {% for post in posts %}
        <div class="post">
            <p><small>{{ post.created_at|date:'d M Y H:i' }}</small></p>
            <p>{{ post.content|truncatewords:50 }}</p>
        </div>
        {% endfor %}
        {% else %}
        <p style="text-align: center;">Henüz kimse yazı paylaşmadı...</p>
        {% endif %}
        <a href="{% url 'blog_app:new_post' %}" style="text-decoration: none; color: inherit;">
            <button class="write-button">Yazacaklarım Var !</button>
        </a>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>